.drive__button {
  @include font(600, 1.8rem, 140%);
  padding: 2.4rem 4.95rem 3rem 4.95rem;
  border-radius: 0.8rem;
}

@media (max-width: 48em) {
  .drive__button {
    @include font(600, 5vw, 140%);
    padding: 5.78125vw 9.375vw 7.03125vw;
    border-radius: 2.5vw;
    position: relative;
  }
}
