.form__wrapper {
  position: relative;
  width: 180rem;
  margin: 0 auto;
  padding-top: 13.6rem;
  padding-bottom: 10.1rem;
}

@media (max-width: 48em) {
  .form__wrapper {
    width: 100%;
    padding-top: 13.45rem;
    padding-bottom: 11.2rem;
    .container {
      display: flex;
      flex-direction: column;
    }
  }
}
