.header-mobile {
  position: fixed;
  left: 0;
  top: 8rem;
  z-index: 100;
  right: 0;
  padding-top: 11.9rem;
  padding-bottom: 4rem;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.04);
  display: none;
  max-height: calc(100% - 8rem);
  overflow-y: auto;
}
