.select__body--active {
  display: block;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(157, 160, 166, 0.15);
  border-radius: 0.8rem;
  white-space: nowrap;
}
