.clients__title {
  @include font(900, 4.4rem, 120%);
  text-align: center;
  margin-bottom: 1.5rem;
}
@media (max-width: 48em) {
  .clients__title {
    font-size: 8.75vw;
    margin-bottom: 7.7vw;
  }
}
